main {
  margin-top: 100px;
}

@media (min-width: 320px) {
  /* Styles for mobile layout.  */
  #container {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    background-color: white;
    overflow: hidden;
    padding-right: 1em;
    width: fit-content;
  }
  section .zebra {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    height: auto;
    width: 300px;
  }
  section p,
  h3 {
    padding-left: 0.5em;
  }
  #container button {
    background-color: #34a987;
    color: white;
    border: none;
    padding: 0.5em;
    margin-bottom: 1em;
  }
  .cart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 90%;
    background-color: white;
    padding: 0.5em;
  }
  .cart section {
    display: inline-block;
    margin-top: 1em;
    width: auto;
    background-color: white;
    padding: 0.5em;
  }
  .cart button,
  .pay button {
    clear: left;
    background-color: #34a987;
    color: white;
    border: none;
    padding: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }
  .cart h1,
  .pay h1 {
    text-align: center;
  }
  .pay {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 90%;
    background-color: white;
    padding: 0.5em;
  }
  .pay input {
    width: 150px;
    padding-left: 0.5em;
  }
  #cardnum::-webkit-outer-spin-button,
  #cardnum::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .pay form {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .pay label {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding: 1%;
  }
  .compulsion {
    color: red;
    margin-left: 0.5em;
  }
  footer {
    clear: both;
  }
}
@media (min-width: 481px) {
  /* Styles for desktop layout.  */
  #container {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    background-color: white;
    overflow: hidden;
    text-align: justify;
    padding-right: 1em;
  }
  section .zebra {
    float: left;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    height: auto;
    width: 300px;
  }
  #container button {
    background-color: #34a987;
    color: white;
    border: none;
    padding: 0.5em;
    margin-bottom: 1em;
  }
  .cart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 90%;
    background-color: white;
    padding: 0.5em;
  }
  .cart section {
    display: inline-block;
    margin-top: 1em;
    width: auto;
    background-color: white;
    padding: 0.5em;
  }
  .cart button,
  .pay button {
    clear: left;
    background-color: #34a987;
    color: white;
    border: none;
    padding: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }
  .cart h1,
  .pay h1 {
    text-align: center;
  }
  .pay {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 90%;
    background-color: white;
    padding: 0.5em;
  }
  .pay input {
    width: 150px;
    padding-left: 0.5em;
  }
  #cardnum::-webkit-outer-spin-button,
  #cardnum::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .pay form {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .pay label {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding: 1%;
  }
  .compulsion {
    color: red;
    margin-left: 0.5em;
  }
  footer {
    clear: both;
  }
}
@media (min-width: 769px) {
  /* Styles for desktop layout.  */
  #container {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    background-color: white;
    overflow: hidden;
    text-align: justify;
    padding-right: 1em;
  }
  #slider {
    float: left;
  }
  #container button {
    background-color: #34a987;
    color: white;
    border: none;
    padding: 0.5em;
    margin-bottom: 1em;
  }
  .cart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 60%;
    background-color: white;
    padding: 0.5em;
  }
  .cart section {
    display: inline-block;
    margin-top: 1em;
    width: auto;
    background-color: white;
    padding: 0.5em;
  }
  .cart button,
  .pay button {
    clear: left;
    background-color: #34a987;
    color: white;
    border: none;
    padding: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }
  .cart h1,
  .pay h1 {
    text-align: center;
  }
  .pay {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 50%;
    background-color: white;
    padding: 0.5em;
  }
  .pay input {
    width: 250px;
    padding-left: 0.5em;
  }
  #cardnum::-webkit-outer-spin-button,
  #cardnum::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .pay form {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .pay label {
    display: inline-block;
    width: 200px;
    text-align: right;
    padding: 1%;
  }
  .compulsion {
    color: red;
    margin-left: 0.5em;
  }
  footer {
    clear: both;
  }
}
